.container {
  display: flex;
  padding: 0 30px;
  width: 100%;

  .friendsList {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    margin: 10px;
    grid-template-columns: 300px 300px;
    align-items: center;

    .friendItem {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      font-weight: bold;

      button {
        margin-bottom: 10px;
        width: 90px;
        height: 20px;
        background-color: #1976d2;
        color: #FFFFFF;
        font-size: smaller;
        align-self: center;
      }

      img {
        padding: 1px;
        width: 150px;
        height: 150px;
        border: 2px solid black;
        border-radius: 10px;
        align-self: center;
      }

      .userName {
        width: 300px;
        height: 30px;
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        justify-content: center;
      }

      .userStatus {
        border-radius: 7px;
        width: 300px;
        min-height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
          text-align: center;
        }
      }
    }
  }
}