.container {
  display: flex;
  flex-direction: column;

  .preloader {
    margin: 50px auto;

  }

  .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-top: 5px;
    height: 25px;
    font-size: smaller;
    align-content: center;
  }
}




