.container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.container img {
    border: solid black;
    border-radius: 10px;
    width: 200px;
}

.container li {
list-style: none;
}

.profileInfo {
    display: flex;
    flex-direction: row;
}

.status {
    margin: 10px;
    /*display: flex;*/
    /*flex-direction: column;*/
}