.container {
    display: flex;
    flex-direction: column;
    /*display: grid;*/
    /*grid-auto-columns: 2fr 2fr;*/
    /*grid-auto-rows: 2fr max-content;*/
    /*grid-template-areas: 'row' 'column';*/
    /*grid-gap: 30px;*/
    padding: 5px;
}

/*.pagination {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    margin: 0 auto;*/
/*}*/

/*.pagesList {*/
/*    grid-area: row;*/
/*    border-radius: 3px;*/
/*    background-color: white;*/
/*    color: black;*/
/*    cursor: pointer;*/
/*    margin: 0 auto;*/
/*    padding-right: 7px;*/
/*    padding-left: 7px;*/
/*    transition: .5s;*/
/*}*/

/*.pagesList:hover {*/
/*    background-color: grey;*/
/*}*/

/*.selected_Page {*/
/*    border-radius: 3px;*/
/*    background-color: #6495ED;*/
/*    cursor: pointer;*/
/*    margin: 0 auto;*/
/*    padding-right: 7px;*/
/*    padding-left: 7px;*/
/*}*/

.usersList {
    grid-area: column;
    width: 200px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    justify-content: flex-start;
}

.userItem {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #6495ED;
    color: #FFFFFF;
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 5px;
    text-decoration: none;
    transition: 0.4s;
    width: 80px;

}

.btn:hover {
    background-color: grey;
}


.img {
    object-fit: contain;
    border-radius: 10px;
    margin-top: 20px;
    border: solid black;
    padding: 2px;
    width: 100px;
    height: 100px;
}
